h1 {
    text-align: center;
}

#pictures {
    border: 5px solid grey;
    padding: 20px;
    border-radius: 5px;
    width: 1700px;
    height: 850px;
}

#stats {
    text-align: right;
    width: 250px;
    border: 5px solid grey;
    padding: 20px;
}

#reset {
    padding-left: 500px;
    padding-right: 200px;
}

#aufgabe {
    text-align: left;
    width: 555px;
    padding: 20px;
    font-family: Georgia,
    'Times New Roman',
    Times,
    serif;
    color: red;
}

.kopf {
    display: inline-block;
}

#door1 {
    padding-left: 40px;
    padding-right: 40px;
}

#door2 {
    padding-left: 80px;
    padding-right: 80px;
}

#door3 {
    padding-left: 40px;
    padding-right: 40px;
}